[phases.setup]
nixPkgs = ["python3", "nodejs_20", "npm"]

[phases.install]
cmds = [
    "python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install -r requirements.txt",
    "cd bots/telegram-bot && npm install"
]

[start]
cmd = "python -m api.main & cd bots/telegram-bot && npm start"
