providers = ["python", "node"]

[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
    "python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install -r requirements.txt",
    "cd bots/telegram-bot && npm install"
]

[start]
cmd = ". /opt/venv/bin/activate && python -m api.main & cd bots/telegram-bot && npx ts-node src/index.ts"
